<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑社团</title>
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__JS__/plugins/simditor/styles/simditor.css" rel="stylesheet">
    <script type="text/javascript" src="__JS__/plugins/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/plugins/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="__JS__/plugins/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="__JS__/plugins/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="__JS__/plugins/simditor/scripts/simditor.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑社团</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post" onsubmit="return toVaild()">
                        <input type="hidden" name="id" value="{$club.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团团标：</label>
                            <div class="input-group col-sm-4">
                                <input id="club_icon" type="text" class="form-control" name="club_icon" required="" aria-required="true" value="{$club.club_icon}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团名称：</label>
                            <div class="input-group col-sm-7">
                                <input id="club_name" type="text" class="form-control" name="club_name" required="" aria-required="true" value="{$club.club_name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团类型：</label>
                            <div class="input-group col-sm-4">
                                <select class="form-control" name="club_type" required="" aria-required="true">
                                    <option value="0">请选择</option>
                                    {if !empty($clubTypeList)}
                                    {foreach name="clubTypeList" item="vo"}
                                    <option value="{$vo.id}" {if condition="$club['club_type'] eq $vo['id']"}selected{/if}>{$vo.type_name}</option>
                                    {/foreach}
                                    {/if}
                                </select>
                            </div>
                        </div>
						 <div class="form-group">
                            <label class="col-sm-3 control-label">社团经验值：</label>
                            <div class="input-group col-sm-7">
                                <input id="club_experience" type="text" class="form-control" name="club_experience" required="" aria-required="true" value="{$club.club_experience}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团口令：</label>
                            <div class="input-group col-sm-4">
                                <input id="club_password" type="text" class="form-control" name="club_password" required="" aria-required="true" value="{$club.club_password}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团简介：</label>
                            <div class="input-group col-sm-8">
                                <textarea id="club_intro" name="club_intro"  placeholder="Balabala" maxlength="500" autofocus >{$club.club_intro}</textarea>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>字数限制为0~500个字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团公告：</label>
                            <div class="input-group col-sm-8">
                                <textarea id="club_notice" name="club_notice"  placeholder="Balabala" maxlength="500" autofocus >{$club.club_notice}</textarea>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>字数限制为0~500个字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">社团状态：</label>
                            <div class="input-group col-sm-4">
                                {foreach name='club_status' item='vo' key='key'}
                                <div class="radio i-checks col-sm-4">
                                    <label><input type="radio" value="{$key}" {if condition="$key == $club['club_status']"}checked{/if} name="club_status"><i></i>{$vo}</label>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    //表单提交
    function toVaild(){
        var jz;
        var url = "./edit";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#commentForm').serialize()},//你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                layer.close(jz);
                if(data.code == 1){
                    swal(data.msg, "", "success");
                }else{
                    swal(data.msg, "", "error");
                }

            }
        });
        return false;
    }
    //表单验证
    $(document).ready(function(){
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"});
        //绑定时间控件
        $('[data-dp]').datepicker({dateFormat: 'yy-mm-dd'});
    });
    var editor = new Simditor({
        textarea: $('#club_intro')
    });
    var editor = new Simditor({
        textarea: $('#club_notice')
    });
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });
</script>
</body>
</html>