{include file="common/header" title="社团主页" keywords="社团主页" description="" /}
    {if $status ==1 }
<input id="club-id" type="hidden" value="{$club.id}">
	<div id="homepage-top">
		<div id="homepage-intro">
			<img src="{$club.club_icon}" alt="">
			<h2>{$club.club_name}</h2>
			<p>关注数 {$followCounts}</p>
			<div id="homepage-rank">
				{if $club.club_experience < 1000}
				<p><img src="__PUBLIC__/images/yellow-star.png" alt=""></p>
				<div class="rank-bar-wrap">
					<div class="rank-bar">
						<span class="rank-bar-score" data-score="{$club.club_experience/10}"></span>
					</div>
				</div>
				<p>{$club.club_experience}/1000</p>
				{elseif $club.club_experience >= 1000 && $club.club_experience < 3500 }
				<p><img src="__PUBLIC__/images/star.png" alt=""></p>
				<div class="rank-bar-wrap">
					<div class="rank-bar">
						<span class="rank-bar-score" data-score="{$club.club_experience/35}"></span>
					</div>
				</div>
				<p>{$club.club_experience}/3500</p>
				{elseif $club.club_experience >= 3500 && $club.club_experience < 12000}
				<p><img src="__PUBLIC__/images/star.png" alt=""><img src="__PUBLIC__/images/star.png" alt=""></p>
				<div class="rank-bar-wrap">
					<div class="rank-bar">
						<span class="rank-bar-score" data-score="{$club.club_experience/120}"></span>
					</div>
				</div>
				<p>{$club.club_experience}/12000</p>
				{elseif $club.club_experience >= 12000}
				<p><img src="__PUBLIC__/images/star.png" alt=""><img src="__PUBLIC__/images/star.png" alt=""><img src="__PUBLIC__/images/star.png" alt=""></p>
				<div class="rank-bar-wrap">
					<div class="rank-bar">
						<span class="rank-bar-score" data-score="{$club.club_experience/10000}"></span>
					</div>
				</div>
				<p>{$club.club_experience}/100000</p>
				{/if}
				<div class="hrank-explain">
					<img src="__PUBLIC__/images/mark_wen.png" alt="">
					等级说明
				</div>
			</div>
		</div>
		{if $clubFollowInfo.is_follow == 2}
		<a class="homepage-watch _watch"><span>已关注</span></a>
		{else/}
		<a class="homepage-watch" onclick="follow({$club.id},2)"><i class="fa fa-plus"></i><span>关注</span></a>
		{/if}
		{if $Counts == 1 }
		<a class="homepage-sign _sign"><span>已签到</span></a>
		{else/}
		<a class="homepage-sign"><i class="fa fa-plus"></i><span>签到</span></a>
		{/if}
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团公告
			<a href="{:url('Club/notice')}">
				<span class="fr">
					<i class="fa fa-pencil"></i>
					修改
				</span>
			</a>
		</p>
		<div id="adetail-intro">
			{if !empty($club.club_notice)}
			{$club.club_notice}
			{else/}
			<div id="none-club" class="center">
				<p>暂无公告!</p>
			</div>
			{/if}
		</div>
	</div>
<div class="adetail-wrap">
	<p class="adetail-head">社团简介</p>
	<div id="adetail-jianjie">
		{$club.club_intro}
	</div>
</div>
	<div class="adetail-wrap">
		<p class="adetail-head">社团相册
			<a href="{:url('Club/AlbumManager')}">
				<span class="fr">更多
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div id="adetail-ablum" class="clearfix">
			{if empty($clubAlbumList)}
			<p>暂无相册</p>
			{else}
			{foreach name="$clubAlbumList" item="vo"}
			<div class="adetail-ablum-item"><img src="{$vo.album_img}" alt=""></div>
			{/foreach}
			{/if}
		</div>
	</div>
	
	<div id="club-member" class="adetail-wrap">
		<p class="adetail-head">社团成员
			<a href="{:url('Club/member_list', ['club_id' => $club.id])}">
				<span class="fr">更多
				<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div class="detail-info clearfix">
			<ul>
				{if empty($memberList)}
				<p>暂时还有社团成员</p>
				{else/}
				{foreach name="memberList" item="vo"}
				<a href="{:url('Member/personHomepage', ['member_id' => $vo.member_id])}">
					<li><img src="{$vo.member_icon}" alt=""><h4>{$vo.member_name}</h4></li>
				</a>
				{/foreach}
				{/if}
			</ul>
		</div>
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团活动
			<a href="{:url('Activity/actList', ['club_owner_id' => $club.club_owner_id])}">
				<span class="fr">更多<i class="fa fa-angle-right"></i></span>
			</a>
		</p>
		<div id="homepage-actlist">
			{if empty($activityList)}
			<p>暂时还未发起活动</p>
			{else}
			{foreach name="activityList" item="vo"}
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:url('Activity/index',['act_id'=>$vo.id])}"><img src="{$vo.act_detail_img}" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:url('Activity/index',['act_id'=>$vo.id])}">{$vo.act_name}</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="{$member.member_icon}" alt="">
						<span class="one-line">发起人({$member.member_name})</span>
					</div>
					<p class="act-time one-line">活动时间: {$vo.act_start_time} - {$vo.act_end_time}</p>
					<div class="act-operate">
						<span>{$vo.act_release_time}发布</span>
						{if $vo.act_status == 1}
						<img src="__IMAGES__/activity_before.png" alt="">
						{elseif $vo.act_status == 2}
						<img src="__IMAGES__/activity_ing.png" alt="">
						{elseif $vo.act_status == 3}
						<img src="__IMAGES__/activity_over.png" alt="">
						{/if}
					</div>
				</div>
			</div>
			{/foreach}
			{/if}
		</div>
	</div>

	<div class="homepage-submit">
		<a href="{:url('Activity/launchActivity')}">
			<button class="submit">发起活动</button>
		</a>
	</div>
<div id="vadetail-pop" class="center none">
	<div id="vadetail-pop-body">
		Lv0-Lv1：1000经验 <br>
        Lv1-Lv2：2500经验 <br>
        Lv2-Lv3：8500经验 <br>
        经验获取途径 <br>
        每日签到+5 <br>
        发布话题+2（每天限3次）<br>
        评论话题+2（每天限5次）<br>
        发布线下活动+50(每天限2次) <br>
        成员首次加入社团经验+5 <br>
	</div>
	<a>关闭</a>
</div>

{else/}
<p>该社团已被管理员禁用或你不是该社团的管理员</p>
{/if}
<script>
$(function() {
	var width = $(".rank-bar-score").attr('data-score');
    $(".rank-bar-score").css('width',width + "%");

    $(".homepage-watch").click(function () {
        if ($(this).hasClass("_watch")) {
            return;
        }
        $(this).addClass('_watch').find('.fa').addClass('none').next('span').text('已关注');
        $(".trans-alert p").text('关注成功').parent().removeClass('none');
        setTimeout(function () {
            $(".trans-alert").addClass('none');
        }, 1400)
    });
    $(".homepage-sign").click(function () {
        if ($(this).hasClass("_sign")) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: "{:url('club/past')}",
            data: {'id': $('#club-id').val()},
            async: false,
            success: function (data) {
                if (0 > data.flag) {
                    myalert(data.msg)
                } else {
                    $(".homepage-sign").addClass('_sign').find('.fa').addClass('none').next('span').text('已签到');
                    $(".trans-alert p").text('签到成功').parent().removeClass('none');
                    setTimeout(function () {
                        $(".trans-alert").addClass('none');
                    }, 1400)
                }
            }
        });
    });
	$(".hrank-explain").click(function () {
		$("#vadetail-pop").removeClass("none");
	});

})
</script>
{include file="common/footer" /}