{include file="common/header" title="社团动态" keywords="社团动态" description="" /}
	
	<div class="message-list">
		<ul>
			{if !empty($clubJoinList.messageList)}
			{foreach name="clubJoinList.messageList" item="vo"}
			<li class="message-item">
				<p class="message-time">{$vo.create_time}</p>
				<div class="message-body">
					<h2 class="message-title">{$vo.club_name}提醒您</h2>
					{if !empty($vo.comment_content)}{$vo.comment_content}:{/if} {$vo.message_content}
				</div>
			</li>
			{/foreach}
			{else/}
			<div id="none-club" class="center">
				<p>暂时没有社团动态哦!</p>
				<a href="{:url('club/clubList')}">点击加入社团吧</a>
			</div>
			{/if}
		</ul>
	</div>

{include file="common/footer" /}