{include file="common/header" title="发布话题" keywords="发布话题" description="" /}
<link rel="stylesheet" href="__PUBLIC__/css/weui.css">
<style>
.mark-img-button > img {width:5rem;height:5rem}
.mark-publish-img{height:auto}
.mark-item-img > img {width:5rem;height:5rem}
</style>
<div id="topic-publish-wrap">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return check();">
        <div class="ccreate-detail">
            <ul>
                <!--<li class="topic-publish-item">
                    <span>标题</span>
                    <div class="cdinput-wrap">
                        <input type="text" name="topic_name" placeholder="请输入标题">
                    </div>
                </li>-->
                <div class="weui-cell weui-cell_select weui-cell_select-after topic-publish-item">
                    <div class="weui-cell__hd">
                        <label for="select2" class="weui-label">话题类型</label>
                    </div>
                    <div class="weui-cell__bd cdinput-wrap">
                        <select class="weui-select" name="type_id">
                            {foreach name="$topicTypeList" item="vo"}
                            <option value="{$vo.id}">{$vo.type_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <li class="topic-publish-item">
                    <!--<span>内容</span>-->
                    <div class="cdinput-wrap">
                        <textarea name="topic_content" placeholder="分享你的真实糗事"></textarea>
                    </div>
                </li>
                <div class="mark-publish-img">
                    <div class="mark-img-button">
                        <img src="__PUBLIC__/images/add_picture.png" alt="">
                        <input type="file" name="file[]">
                    </div>
                </div>
            </ul>
        </div>
        <button class="submit">立即发布</button>
    </form>
</div>
<div class="info-mask center none" data-status="{$return.code}" data-msg="{$return.msg}"></div>
<script src="__PUBLIC__/script/min/mypop.min.js"></script>
<script>
    $(function () {
		//指定条目数
        var tips = new Array(2);
		tips[0] = '说说你现在的心情~';
        tips[1] = '有没有遇到哪些开心的事~';
		tips[2] = '吐槽两句?';
		var index = Math.floor(Math.random() * tips.length);
		$("textarea").attr("placeholder",tips[index]);
        var status = $(".info-mask").attr('data-status');
        var msg = $(".info-mask").attr('data-msg');
        if (status === '1' || status === '-1') {
            myalert(msg);
            $(".alert-operate").click(function () {
                history.go(-2);
            });
        }
        $(".mark-img-button").on("change", "input[type='file']", function () {
            var i, e = $(this).val(), t = e.substring(e.lastIndexOf(".") + 1);
            if (["jpg", "png", "gif", "jpeg", "bmp"].indexOf(t.toLowerCase()) == -1)return myalert("请上传图片文件！"), void $(this).val("");
            if ($(".mark-publish-img img").length >= 10)return myalert("最多上传9张图片"), void $(this).val("");
            i = getObjectURL(this.files[0]);
            var r = $("<div class='mark-item-img'>");
            r.append("<div class='mark-item-mask'>删除</div>"), $("<img>").appendTo(r).attr("src", i), r.prependTo($(".mark-publish-img")), $(this).after($("<input type='file' name='file[]'>"))
        }), $(".mark-publish-img").on("click", ".mark-item-img", function () {
            for (var i = $(this), e = 0; ;) {
                if (i = i.prev(".mark-item-img"), 0 == i.length)break;
                e++
            }
            confirm("确认删除？") && ($(this).remove(), $(".mark-img-button input[type='file']").eq(e).remove())
        });
    });
    function check() {
       /* if (!$("input[name='topic_name']").val().trim()) {
            alert("标题不能为空！");
			$(".submit").removeAttr("disabled");
            return false;
        }*/
        if (!$("textarea[name='topic_content']").val().trim()) {
            alert("内容不能为空！");
			$(".submit").removeAttr("disabled");
            return false;
        }
		$(".submit").attr("disabled","disabled");
         return true;
    }
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
</script>
{include file="common/footer" /}