{include file="common/header" title="谁是我的“最佳CP”，是锄禾还是当午？" keywords="谁是我的“最佳CP”，是锄禾还是当午？" description="" /}

<style>body {
    background-color: #fff;
}</style>
<div id="vote-top">
    <div id="countdown">
        <p>活动倒计时</p>
        {if $voteInfo.vote_time >0 }
        <p class="time-remain" count_down="{$voteInfo.vote_time}"><span time_id="d" class="day">00</span>天<span
                time_id="h" class="hour">00</span>小时<span time_id="m" class="minute">00</span>分<span time_id="s"
                                                                                                     class="second">00</span>秒
        </p>
        {else/}
        <span>活动已结束</span>
        {/if}
    </div>
    <div id="vote-info" class="clearfix">
        <div class="vote-info-item">
            <p>已报名</p>

            <p>{$memberCounts}</p>
        </div>
        <div class="vote-info-item">
            <p>投票人次</p>

            <p>{$voteNumCounts}</p>
        </div>
        <div class="vote-info-item">
            <p>访问量</p>

            <p>{$voteInfo.visits}</p>
        </div>
    </div>
    <p><a id="vadetail-button">活动详情</a><a href="{:url('Vote/apply',['vote_id'=>$voteId])}">我要报名</a></p>
</div>

<form action="" onsubmit="return check();">
    <div class="vsearch-wrap">
        <button>搜索</button>
        <div class="vinput-wrap">
            <input type="text" name="cp_id" placeholder="请输入编号进入投票">
        </div>
    </div>
</form>

<div id="vote-list" class="pre-navbt clearfix">
    {if !empty($voteJoinList)}
    {foreach name="$voteJoinList" item="vo"}
    <div class="vote-list-item">
        <a href="{:url('Vote/playerDetail',['member_id'=>$vo.member_id,'vote_id'=>$voteId])}">
            <div class="vote-litem-img">
                <img src="{$vo.album_img[0]}" alt="" style="width: 100%; height: 100%;">

                <div class="vote-iimg-mask">
                    <p><i class="fa fa-heart"></i>{$vo.cp_name}</p>

                    <p class="fr">{$vo.vote_num}<span>票</span></p>
                </div>
                <span class="vote-iimg-num">{$vo.cp_id}号</span>
            </div>
        </a>

        <div class="vote-button">
            <button value="{$vo.member_id}">投TA一票</button>
        </div>
    </div>
    {/foreach}
    {elseif !empty($voteJoinInfo)}
    <div class="vote-list-item">
        <a href="{:url('Vote/playerDetail',['member_id'=>$voteJoinInfo.member_id,'vote_id'=>$voteId])}">
            <div class="vote-litem-img">
                <img src="{$voteJoinInfo.album_img[0]}" alt="" style="width: 100%; height: 100%;">

                <div class="vote-iimg-mask">
                    <p><i class="fa fa-heart"></i>{$voteJoinInfo.cp_name}</p>

                    <p class="fr">{$voteJoinInfo.vote_num}<span>票</span></p>
                </div>
                <span class="vote-iimg-num">{$voteJoinInfo.cp_id}号</span>
            </div>
        </a>

        <div class="vote-button">
            <button value="{$voteJoinInfo.member_id}">投TA一票</button>
        </div>
    </div>
    {else/}
    <p style="text-align: center">参赛选手不存在</p>
    {/if}
</div>

<div class="nav-bottom">
    <div class="navbt-item active"><img src="__PUBLIC__/images/home.png" alt="">

        <p>投票首页</p>
    </div>
    <div class="navbt-item">
        <a href="{:url('Vote/apply',['vote_id'=>$voteId])}">
            <img src="__PUBLIC__/images/add_gray.png" alt="">

            <p>报名</p>
        </a>
    </div>
    <div class="navbt-item">
        <a href="{:url('Vote/rankingList',['vote_id'=>$voteId])}">
            <img src="__PUBLIC__/images/chart_gray.png" alt="">

            <p>排行榜</p>
        </a>
    </div>
</div>
<div id="vadetail-pop" class="center none">
    <div id="vadetail-pop-body">
        {$voteInfo.vote_intro}
    </div>
    <a>关闭</a>
</div>
<script src="__PUBLIC__/script/min/mypop.min.js"></script>
<script type="text/javascript">
    var d = new Date();
    var now = d.getTime();
    takeCount(now);
    function takeCount(now) {
        setTimeout("takeCount()", 1000);
        $(".time-remain").each(function () {
            var obj = $(this);
            var tms = obj.attr("count_down");
            if (tms > 0) {
                tms = parseInt(tms) - 1;
                var days = Math.floor(tms / (1 * 60 * 60 * 24));
                var hours = Math.floor(tms / (1 * 60 * 60)) % 24;
                var minutes = Math.floor(tms / (1 * 60)) % 60;
                var seconds = Math.floor(tms / 1) % 60;
                if (days < 10) days = "0" + days;
                if (hours < 10) hours = "0" + hours;
                if (minutes < 10) minutes = "0" + minutes;
                if (seconds < 10) seconds = "0" + seconds;
                if (days < 0) days = 0;
                if (hours < 0) hours = 0;
                if (minutes < 0) minutes = 0;
                if (seconds < 0) seconds = 0;
                obj.find("[time_id='d']").html(days);
                obj.find("[time_id='h']").html(hours);
                obj.find("[time_id='m']").html(minutes);
                obj.find("[time_id='s']").html(seconds);
                obj.attr("count_down", tms);
            }
        });
    }
    $(".vote-button").on('click', function () {
        var t = $(this).find('button').attr("value");
        window.vote = 0;
        if (window.vote == 0) {
            window.vote = 1;
            $.ajax({
                type: 'POST',
                url: "{:url('Vote/vote')}",
                data: {'vote_id': {$voteId}, 'join_id': t},
                async: false,
                success: function (data) {
                    if (0 > data.code) {
                        myalert(data.msg);
                    } else {
                        myalert('投票成功');
                        $(".alert-operate").click(function () {
                            location.reload();
                        });
                    }
                }
            });
        } else {
            myalert('手速这么快，点一次就好了哦~！');
            return false;
        }
    });
    $("#vadetail-button").click(function () {
        $("#vadetail-pop").removeClass('none');
    });
    $("#vadetail-pop a").click(function () {
        $("#vadetail-pop").addClass("none");
    })
</script>
{include file="common/footer" /}